body {
    margin: 0;
  }
  
  .hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .hero-banner img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    filter: brightness(35%); 
  }
  
  .hero-text {
    position: absolute; /* Overlays on top of the image */
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
  }