:root {
	--color-black: hsl(0, 0%, 10%);
	--color-white: hsl(0, 0%, 100%);
	--color-darken: hsl(0, 0%, 20%);

    --color-beige-100: hsl(35, 60%, 92%);
    --color-beige-200: hsl(35, 45%, 87%);
    --color-beige-300: hsl(35, 40%, 80%);
    --color-tan-400: hsl(30, 38%, 72%);
    --color-tan-500: hsl(30, 35%, 65%);
    --color-brown-600: hsl(25, 40%, 50%);
    --color-brown-700: hsl(20, 50%, 40%);
    --color-brown-800: hsl(15, 55%, 30%);

	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lilita+One&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
	font-size: 80%;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

body {
	font-family: "Abel", sans-serif;
	font-size: 0.5rem;
	font-weight: 400;
	line-height: 2; 
	color: var(--color-black);
	background: var(--color-white);
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.container {
	max-width: 75rem;
	height: auto;
	margin: 0 auto;
	padding: 0 1.25rem;
}

.brand {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.1em;
	font-size: 1rem;
	font-weight: 700;
	color: var(--color-black);
	text-transform: uppercase;
}



.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
}

.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	display: grid;
	align-content: center;
	width: 100%;
	height: 3.5rem;
	padding: 0 1rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	background: var(--color-white);
	box-shadow: var(--shadow-medium);
}

.menu-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-black);
}

.menu-link.is-active {
	position: relative;
	color: var(--color-brown-800);
	transition: all 0.35s ease;
}

.menu-icon {
	font-size: 1.35rem;
	color: inherit;
}

.menu-name {
	display: none;
	font-size: 0.4rem;
	font-weight: 400;
	visibility: hidden;
	text-transform: capitalize;
    text-transform: uppercase;
}

@media only screen and (min-width: 360px) {
	.menu-name {
		display: block;
		visibility: visible;
	}


}

@media only screen and (min-width: 576px) {
	.menu-list {
		justify-content: center;
		column-gap: 3rem;
	}
}

.menu-icon {
    width: 24px; /* Match your icon size */
    height: 24px; 
    vertical-align: middle;
    transition: all 0.3s ease; /* Optional: for hover effects */
  }
  
  /* Optional: Hover effects */
  .menu-link:hover .menu-icon {
    transform: scale(1.1);
    opacity: 0.9;
  }


  @media only screen and (max-width: 768px) {
    .brand{
        visibility: hidden;
      }
      .logo-black{
        visibility: hidden;
      }
  }
@media only screen and (min-width: 768px) {
	.header {
		background: var(--color-white);
		box-shadow: var(--shadow-medium);
		transition: all 0.35s ease-in-out;
	}

	.menu {
		position: relative;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		background: none;
		box-shadow: none;
	}

	.menu-link.is-active::before {
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		width: 2rem;
		height: 2px;
		background: var(--color-brown-800);
	}

	.menu-link:hover {
		color: var(--color-brown-800);
		transition: all 0.35s ease;
	}

	.menu-icon {
		display: none;
		visibility: hidden;
	}

	.menu-name {
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 0.2rem;
	}
}
